<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>未來規劃與心得</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color: #8080c0; font-size:60px;}
		h2 {color: #5151a2; font-size:40px;}
		h3 {color: #8080c0; font-size:35px;}
		h3 {font-size:25px;}
	</style>

	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body bgcolor = "#d8d8eb">
	<main>
		<table width="100%" border ="0" >
					<br><br><br><br>
					<h1 align="center">【未來規劃】</h1><br>
					<h3 align="center">充實自己、去外面參加研習或社團</h3>
					<br>
					<hr style = "border-top:2px solid #000000;">
					<br>
					<tr bgcolor = "ffffff">
						<br>
						<h2>• 預計二下時會去修進階的python課程<br><br>
						• 我有參加學院舉辦的就業學程，這學期修了專案系統開發實務，在課堂中老師教了我平常不會接觸的東西，像是openAIAPI、智能客服…，未來也會繼續參加就業學程開辦的課<br><br>
						• 利用學校的資源考取icdl的專業證照，例如: 資訊安全、AI人工智慧、數據分析…<br><br>
						• 修一些有關資料庫、系統分析、大數據分析相關的課程<br><br>
						• 修一些外系的課程，例如: 資科系powerBI、財金系個人投資理財</h2><br><br>
					</tr>
					<br><br><br><br>
					<h1 align="center">【心得】<br></h1>
					<br>
					<hr style = "border-top:2px solid #000000;">
					<br>
					<tr bgcolor = "ffffff">
						<br>
						<h2> 在進入大學前，我未來的志向是數據分析，在104裡面找尋了相關的職業，發現還有好多技能是在進入職場前我應該要去學會的，我覺得除了把系上的課程學好，有興趣的選一選之外，可以修一些外系的，或是在平常參加一些課程，例如: 之前曾經參加過資科系辦的金象盃研習課程，行雲者舉辦的網頁後端的課程，期許未來的我能繼續努力增進自身的能力，並挑戰自我接觸新領域的事物。</h2><br><br><br><br>
					</tr>
		</table>
	</main>
	<footer>
		<h5 align="center">Copyright © 黃昕柔. All Rights Reserved.</h5>
	</footer>
</body>
</html>