<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>興趣何倫碼測驗</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {font-size:60px;}
		h2 {font-size:40px;}
		h3 {font-size:35px;}
		h3 {font-size:25px;}
	</style>
	
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body bgcolor = "#d8d8eb">
	<main class="container-fluid text-center text.justify">
		<table width="100%"border ="0">
			<div class="column">
				<section class="col-lg-8">
					<h1 align="center">興趣何倫碼測驗結果<br></h1>
					<h3 align="center">I研究型 x A藝術型<br></h3>
					<br>
					<img src="static/holland.png" width="60%" id="pic" ></img><br>
					<br>
					<hr style = "border-top:2px solid #ffffff;">
				</section>
				<section class="col-lg-10">
					<tr>
						<td bgcolor = "#d8d8eb">
							<br>
							<h2>【研究型】</h2><br>
							<h3>典型的“思辨者”(Thinker)</h3>
							<h4>性格: 好奇分析、理性獨立、謙遜、精確、批判<br><br>
							職場上: 運善於觀察、思考、喜歡分析與推理，依自己的步調解決問題，不喜歡他人給予指引，做事時能夠提出新的想法與策略，但對實際解決問題的細節較無興趣，喜歡不必與人有太多的接觸或運用體力的工作類型<br><br>
							價值觀: 對嶄新見解和經驗持開放態度，且擁有廣泛的興趣，不是很在乎別人看法<br><br>
							典型職業為：工程師、化學家、數學家、心理學家、營養師、藥劑師等。<br><br>
							</h4>
						</td>
						<td bgcolor = "#b8b8dc">
							<h2>【藝術型】</h2><br>
							<h3>典型的“創作者”(Creator)</h3>
							<h4>性格: 有創意、直覺、獨立、跳脫框架限制、理想化、敏銳感性<br><br>
							職場上: 喜歡以自己的感性、情緒、直覺和想像，運用文字、影像、聲音、色彩或動作從事創造力與美之藝術創作，並表現出自我的風格<br><br>
							價值觀: 富有勇氣嘗試新的事物而不喜歡受約束，人際互動模式也較為隨興，依據主觀的印象及想像來覺察問題，以直觀來解決問題。<br><br>
							其典型職業為：詩人、作家、舞台導演、室內設計師、演員、作曲家等。<br>
							</h4>

						</td>
					</tr>
				</section>
			</div>
		</table>
		<br>
	</main>
	<footer>
		<h5 align="center">Copyright © 黃昕柔. All Rights Reserved.</h5>
	</footer>
</body>
</html>