<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS相關工作</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {font-size:60px;}
		h2 {font-size:40px;}
		h3 {font-size:30px;}
		h4 {font-size:20px;}
		h5 {font-size:10px;}
	</style>
	
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body bgcolor = "#d8d8eb">
	<main class="container-fluid">
		<div class="row">
			<section class="col-lg-4">
				<img src="static/image.png" width="50%" id="pic"></img>
				<aside><h1>風采有限公司<br></h1>
				<h3>數據分析師<br></h3></aside>
			</section>
			<hr style = "border-top:2px solid #000000;"><br>
		<table width="90%" border ="0">
			<tr>
　				<td rowspan="3"  bgcolor = "#d8d8eb" >
					<h2>【公司基本介紹】<br></h2>
					<h4>風采軟體開發是一家充滿活力及設計熱情的遊戲公司<br></h4>
					<h4>地址: 台中市西屯區惠中路一段88號11樓之1<br><br><br></h4>
				</td>
　				<td bgcolor = "9999cc">
					<h2>【數據分析師】<br></h2>
					<h3> 工作內容<br></h3>
					<h4> 1.數據處理-收集並處理內部與外部數據，確保數據完整與正確性，創建清晰可用數據集，以利分析使用<br></h4>
  					<h4> 2.數據監控-監控數據質量與模型，調整並改進數據分析流程<br></h4>
  					<h4> 3.數據分析<br></h4>
  					<h4> -使用統計方法和數學建模，對數據進行分析，發現模式，趨勢和相關性<br></h4>
      					<h4> -創建可視化報表，以協助管理層利用與分析<br></h4>
  					<h4> 4.數據回饋<br></h4>
      					<h4> -協助業務決策面的數據支持<br></h4>
      					<h4> -結合指標與Domain Knowhow，給予有效解決方案<br><br><br></h4>
				</td>
　			</tr>
　			<tr>
				
　				<td bgcolor = "9999cc">
					<h2>【必備條件】<br></h2>
   					<h4>1.熟悉至少一種數據分析語言，如R，Python<br></h4>
   					<h4>2.熟悉數據儀表板的建置與操作，如Tableau，PowerBI<br></h4>
   					<h4>3.有資料庫開發經驗，有Mongo操作經驗尤佳<br></h4>
   					<h4>4.具備開放學習態度和跨團隊的合作精神<br><br><br></h4>
				</td>
			</tr>
			<tr>
　				<td bgcolor = "9999cc">
					<h2>【條件要求】<br></h2>
					<h4>工作經歷: 1年以上<br></h4>
					<h4>學歷要求: 大學<br></h4>
					<h4>科系要求: 數理統計相關、統計學相關、資訊管理相關<br></h4>
					<h4>語文條件: 不拘<br></h4>
					<h4>擅長工具: Python、Tableau、Power BI<br></h4>
				</td>
　			</tr>
		</table>
		</div>
		<br><br>
	</main>
	<footer>
		<h5 align="center">Copyright © 黃昕柔. All Rights Reserved.</h5>
	</footer>
</body>
</html>