<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>黃昕柔個人簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#5151A2; font-size:60px;}
		h2 {color:#8080C0; font-size:40px;}
		h3 {font-size:20px;}
		h4 {color:#484891; font-size:40px;}
		
	</style>
	<script>
		function change1() {
  			document.getElementById("pic").src = "static/cat2.jpg";
  			document.getElementById("h2text").innerText = "黃昕柔";
		}

		function change2() {
  			document.getElementById("pic").src = "static/cat.jpg";
  			document.getElementById("h2text").innerText = "HSIN-JOU,HUANG";
		}
	</script>
	
</head>
<body bgcolor = "#d8d8eb">
	<main>
		<table width="40%">
			<h1 align ="center">歡迎來到黃昕柔的個人簡介</h1><br>
			<img src="static/cat2.jpg" width="50%" id="pic" onmouseover="change1()" onmouseout="change2()" style="display:block; margin:auto;"/></img>
		</table>
		<table width="80%"border ="0">
			 <tr>
   				<td style="background:#d8d8eb;">
					<h1>更認識我吧 !<br></h1>
					<h4>生日: 6月5日<br></h4>
					<h4>星座: 雙子座<br></h4>
					<h4>就讀: <a href="https://csim.pu.edu.tw/">靜宜大學資管二B</a><br></h4>					
					<h4>學號: 411150765<br></h4>
					<h4>E-Mail: <a href="mailto:s1115076@pu.edu.tw">s1115076@pu.edu.tw</a><br></h4>
					<h4>個性: 隨和、開朗、率直<br></h4>
					<h4>興趣: 學習新知、旅遊、聽音樂、看動漫、看漫畫<br></h4>
					<h4>推薦音樂</h4>
					<div class="video1">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/yBrjQxK5v6s?si=Oz2tGrdNZRtToIkX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
					</iframe>
					</div>
				</td>
    				<td style="background:#9999CC; width="10%";">
					<br><br><br>
					<h1>給所有正在低潮的人<br></h1>
					<h4>所有的憂傷都是過往<br>當時間慢慢沉澱<br>你會發現<br>自己的快樂比想像的多得多<br></h4>
				</td>
				<br><br><br>
			 </tr>
		</table>
	</main>

	<footer>
		<h3 align="center">Copyright ©  黃昕柔. All Rights Reserved.</h3>
	</footer>


</body>
</html>
